.container {
  width: 80%;
  max-width: 1050px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 0.35fr 0.13fr 0.13fr 0.13fr 0.13fr 0.13fr;
  grid-auto-rows: 48px;
  border: 1px solid #30e8cc;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.item {
  border: 1px solid #30e8cc;
  background-color: white;
}

.bg-blue--light {
  background-color: #effbfb;
}

.bg-blue--dark {
  background-color: #0a3b40;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #565656;
}

p {
  font-size: 1.2rem;
  line-height: 2.5;
  margin: 0;
}

.text-align-center {
  text-align: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.p10-l {
  padding-left: 10px;
}

.m0-a {
  margin: 0;
}
